@{
    ViewBag.Title = "DangKyThanhCong";
}

<h2>Đăng kí thành công</h2>

@Html.Partial("UserControlPartial")

<div class="center_content_control">
    <div class="center_title_bar">Đăng kí thành công</div>



    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <div class="contact_form">
                <h1>
                    Bạn đã đăng kí tài khoản thành công!
                </h1>
            </div>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>
</div>
<!-- end of center content -->


