@{
    ViewBag.Title = "DoiMatKhauThanhCong";
}


@Html.Partial("UserControlPartial")

<div class="center_content_control">
    <div class="center_title_bar">Đổi mật khẩu thành công</div>



    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">
            <div class="contact_form">
                <h1>
                    Bạn đã đổi mật khẩu thành công!
                </h1>
            </div>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>
</div>
<!-- end of center content -->

