

@if (HttpContext.Current.User.Identity.IsAuthenticated) {//ban da dang nhap,da duoc phan quyen
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Create", "Room", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "User", FormMethod.Get, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class = "username">Log off</a>
        }
    </text>
} else {
    <div class="loginPart">
        [@Html.ActionLink(ViewRes.Resource.Register, "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })]
        [@Html.ActionLink(ViewRes.Resource.Login, "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })]
    </div>
       
}