@{
    ViewBag.Title = "UserControlPartial";
}


<nav>
    <div class="wrap-nav zerogrid">
        <div class="menu">
            <ul>
                <li>@Html.ActionLink("Quảng cáo","Index", "Advertise")</li>
                <li>@Html.ActionLink("Trợ giúp", "TroGiup", "Admin")</li>
                <li>@Html.ActionLink("Tài Khoản", "Index", "User")</li>
            </ul>
        </div>
    </div>
</nav>