@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <div class="titleInfo">Phone</div>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>0976941955</span>
    </p>
</section>

<section class="contact">
    <header>
        <div class="titleInfo">Email</div>
    </header>
    <p>
        <span class="label">Hỗ trợ:</span>
        <span><a href="mailto:duongvanquang109@gmail.com">duongvanquang109@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Hỗ trợ:</span>
        <span><a href="mailto:lnthach2110@gmail.com">lnthach2110@gmail.com</a></span>
    </p>

</section>

<section class="contact">
    <header>
        <div class="titleInfo">Địa chỉ</div>
    </header>
    <p>
        Đại học khoa học tự nhiên<br />
        Khoa công nghệ thông tin
    </p>
</section>